<html>
  <head>
  </head>
  <body>
    <div class="text-center jumbotron">
    <h1>Welcome to the Task Manager</h1>
    </div>
    <div class="btn-group">
      <a href="/tasks" class="btn btn-info">Task Index</a>
      <a href="/tasks/new" class="btn btn-primary">New Task</a>
    </div>
  </body>
</html>

