<html>
  <head>
  </head>
  <body>
    <h1>All Tasks</h1>
    <div class="list-group">
    <% @tasks.each do |task| %>
      <a href="/tasks/<%= task.id %>" class="list-group-item"><%= task.id %>: <%= task.title %></a></h3>
    <% end %>
    </div>
  </body>
</html>
